<ion-app>
  <ion-router-outlet id="ion-router-outlet">
    <button class="test-btn" (click)="appendToRoute()">Test Button</button>
    <button class="test-btntwo" (click)="logOnRoute()">Test Button 2</button>

  </ion-router-outlet>
</ion-app>
