// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.test-btn {
  position: absolute;
  z-index: 10000000;
  height: 100px;
  width: 200px;
  background-color: yellow;
  top: 170px;
  left: 70px;
}

.test-btntwo {
  position: absolute;
  z-index: 10000000;
  height: 100px;
  width: 200px;
  background-color: yellow;
  top: 370px;
  left: 70px;
}
